.header {
  background-color: var(--secondaryBackgroundColor);
  .header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // padding-top: 13px;
    // padding-bottom: 13px;
  }
}
.button_wrapper {
  display: flex;
  gap: 10px;
}
