body {
  .button {
    color: var(--mainTextColor);
    background-color: var(--primiryColor);
   
    font-size: 16px;
    font-weight: 400;
    line-height: 1.63;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 80px;
    min-width: 100px;
    box-shadow: none;

    &:hover,
    &:focus,
    &:active {
      background-color: var(--hoverButtonBackground);
      box-shadow: none;
    };
    &:disabled{
      background-color: var(--disabledButtonBackground);
      color: var(--disabledButtonTextColor);
    }
  }
}
